:root {
  --mainWhite: #f2fdff;
  --mainBlue: #3e92cc;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: var(--mainWhite);
  display: flex;
  justify-content: center;
  align-items: center;
}
.left {
  height: 3rem;
  width: 2.2rem;
  background-color: #3e92cc;
  border-radius: 0.3rem;
  position: relative;
  left: 1.5rem;
  border: 0.2rem solid #3e92cc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left:hover {
  background-color: #f2fdff;
  cursor: pointer;
}
.tri1 {
  border-right: 0.4rem solid #f2fdff;
  border-bottom: 0.4rem solid transparent;
  border-top: 0.4rem solid transparent;
  position: relative;
  /* right: 0.1rem; */
}
.tri1:hover {
  border-right: 0.4rem solid #3e92cc;
  cursor: pointer;
}
.left:hover .tri1 {
  border-right: 0.4rem solid #3e92cc;
  cursor: pointer;
}

.display {
  height: 32rem;
  width: 60rem;
  border: 0.6rem solid #3e92cc;
  border-radius: 0.6rem;
  background-image: url(./media/mercedes.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* .display img {
    height: max-content;
    width: max-content;
    position: relative;
    background-image: url(./media/mercedes.jpeg);
    background-position-x: left;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } */
.right {
  height: 3rem;
  width: 2.2rem;
  background-color: #3e92cc;
  border-radius: 0.3rem;
  position: relative;
  right: 1.5rem;
  border: 0.2rem solid #3e92cc;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right:hover {
  background-color: #f2fdff;
  cursor: pointer;
}
.tri2 {
  border-left: 0.4rem solid #f2fdff;
  border-bottom: 0.4rem solid transparent;
  border-top: 0.4rem solid transparent;
  position: relative;
  left: 0.1rem;
}
.right:hover .tri2 {
  border-left: 0.4rem solid #3e92cc;
  cursor: pointer;
}
@media (max-width: 640px) {
  :root {
    font-size: 1rem;
  }
  .display {
    height: 28rem;
    width: 22rem;
    border: 0.6rem solid #3e92cc;
    border-radius: 0.6rem;
    background-size: contain;
  }
}
